@model List<MVCRPG.Models.Character>

@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm())
{
    <h2>Characters:</h2>
}

<div>
    @foreach (var item in Model)
    {
        <ul>
            <li>
                <label>@item.Name</label>
            </li>
        </ul>
    }
</div>